@-webkit-keyframes showAll
{
    0%   {opacity: 0;
        display: relative;}
    60%  {opacity: 0;
        display: relative;}
    100% {opacity: 1;
        display: relative;}
}

iframe{
    -webkit-animation-name: showAll;
    -webkit-animation-duration: 1.5s;
    z-index: 999;
}







#player_box {
    position: fixed;
    overflow-x: hidden;
    padding: 20px;
    width: -webkit-calc(100% - 262px);
    height: 100%;
    left: 262px;
    top: 0;
    -webkit-transition: 0.5s cubic-bezier(0.3, 1.5, 0.1, 1.1);
}



text1 {
position: relative;
width: auto;
font-size: 1em;
vertical-align: middle;
font-size: 0.65em;
top: 18px;
left: 70px;
}





#player_video {
position: relative;
text-align: center;
}
#player_InnerBox {
    position: relative;
    width: 860px;
    height: 1200px;
    top: 30px;
    margin: auto;
    color: #53585F;
    font-size: 1.6em;
    line-height: 1.5em;
}

.company_logo {
width: 60px;
}

.profile {
    position: relative;
    height: 120px;
    top: 3%;
    -webkit-animation-name: showAll;
    -webkit-animation-duration: 0.7s;
}

.profile_img {
position: absolute;
width: 60px;
height: 60px;
top: 45px;
float: left;
}
.play_icon {
    width: 20px;
}

.view {
    position: relative;
    float: right;
}

.heart_icon {
    width: 20px;
}

.heart {
    position: relative;
    float: right;
    font-size: 0.8em;
    vertical-align: middle;
}
.right {
    position: relative;
    float: right;

}

#share {
    text-align: center;
    border-top: 1px solid #53585F;
    border-bottom: 1px solid #53585F;
    vertical-align: middle;
    position: relative;
    width: 50%;
    float: left;
    z-index: 999;
    font-size: 0.8em;
    opacity: 1;
    -webkit-transition: 0.3s;
    cursor: pointer;
}

#like {
    text-align: center;
    border-top: 1px solid #53585F;
    border-bottom: 1px solid #53585F;
    vertical-align: middle;
    position: relative;
    width: 50%;
    float: right;
    z-index: 999;
    font-size: 0.8em;
    opacity: 1;
    -webkit-transition: 0.3s;
    cursor: pointer;
}

#facebook_icon {
    position: relative;
    width: 30px;
    top: -2.5px;
    vertical-align: middle;
}

#heart_icon {
    position: relative;
    width: 30px;
    top: -2.5px;
    vertical-align: middle;
}

#share_btn {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 50%;
    height: 36px;
    float: left;
    font-size: 0em;
    opacity: 0;
    background-color: #53585F;
    color: #FFF;
    border-top: 2px solid #53585F;
    border-bottom: 2px solid #53585F;
    -webkit-transition: 0.25s;
}

#like_btn {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 36px;
    font-size: 0em;
    opacity: 0;
    background-color: #53585F;
    color: #FFF;
    border-top: 2px solid #53585F;
    border-bottom: 2px solid #53585F;
    -webkit-transition: 0.25s;
}
#share_icon {
    position: relative;
    width: 30px;
    top: -2.5px;
    vertical-align: middle;
}

#more {
    position: relative;
    width: 100%;
    height: 100px;
    color: #53585F;
    font-size: 0.6em;
    line-height: 1.5em;
    overflow-y: scroll;
    border-bottom: 1px solid #53585F;
}

#comment_profile_img {
    width: 60px;
    height: 60px;
    float: left;
    border-right: 1px solid #53585F;
}

#comment_box {
    position: relative;
}

#comment {
    position: relative;
    width: 100%;
    height: 60px;
    border: 1px solid #53585F;
    margin-top: 30px;
    -webkit-transition: 0.3s;
}





#comment_text {
    position: relative;
    width: 100%;
    text-align: center;
    color: #53585F;
    font-size: 0.8em;
    line-height: 60px;
    -webkit-transition: 0.3s;
    z-index: 997;
}

#update_btn {
    width: 60px;
    height: 60px;
    float: right;
    border: none;
    background-color: rgba(255,255,255,0);
    z-index: 999;
}

#comment_input {
    position: absolute;
    top: 0px;
    left: 70px;
    width: -webkit-calc(100% - 131px);
    height: 60px;
    border: none;
    background-color: rgba(255,255,255,0);
    color:#53585F;
    font-size: 0.8em;
    outline: none;
    z-index: 998;
    -webkit-transition: 0.3s;
}

#update_img {
    position: absolute;
    width: 60px;
    top: 0px;
    right: 0px;
    border-left: 1px solid #53585F;
}

#comment_list {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 1px;
    left: -1px;
    border-left: 1px solid #53585F;
border-right: 1px solid #53585F;
border-bottom: 1px solid #53585F;
}

#sharelike {
    position: relative;
    top: 3%;
}
.top_navbar {
    margin-left: -30px;
}





.uccListBox {
    height: 150px;
    border-bottom: solid 1px black;
}

.uccBox {
    position: relative;
    top: 20px;
    left: 5%;
    width: 230px;
}
