@-webkit-keyframes search {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1}
}

body{
    table-layout: fixed;
    font-family: 'AppleSDGothicNeo-UltraLight', sans-serif;
    background-color: #dddddd;
    overflow-y: hidden;
}

#signup_text1 {
    position: relative;
    text-align: center;
    top: 150px;
    color: #3D7182;
    font-size: 2.3em;
}

#signup_img1 {
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -350px;
}

#signup_btn {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 50px;
}

#sighnup_next {
    position: relative;
    float: right;
    margin-right: 100px;
    cursor: pointer;
    -webkit-transition: 0.3s;
}

#sighnup_next:hover {
    -webkit-transform: scale(1.2);
}

#signup_img2 {
    position: relative;
    top: -50px;
    left: 0px;
}

#signup_text2 {
    position: relative;
    color: #3D7182;
    font-size: 2.5em;
    top: 150px;
    left: 60%;
}

#signup_box1 {
    position: relative;
    width: 100%;
    height: 1000px;
    left: 0%;
    -webkit-transition: 0.5s;
}

#signup_box2 {
    position: relative;
    width: 100%;
    height: 1000px;
    left: 100%;
    top: -1000px;
    -webkit-transition: 0.5s;
}

#signup_contents2 {
    position: absolute;
    font-size: 1.5em;
    color: gray;
    top: 250px;
    left: 60%;
}
