@-webkit-keyframes search {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1}
}

body{
    font-family: 'AppleSDGothicNeo-UltraLight';
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: -webkit-radial-gradient(center top, circle farthest-corner, #FFFFFF 0%, #D8DFE9 100%);
}

#signup_text1 {
    position: relative;
    text-align: center;
    top: 150px;
    color: #3D7182;
    font-size: 2.3em;
}

#signup_img1 {
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -350px;
}

#signup_btn {
    position: absolute;
    top: 500px;
    width: 100%;
    height: 50px;
}

#signup_next {
    position: relative;
    float: right;
    margin-right: 100px;
    cursor: pointer;
    -webkit-transition: 0.3s;
}

#signup_next:hover {
    -webkit-transform: scale(1.2);
}

#signup_img2 {
    position: relative;
    top: -50px;
    left: 0px;
}

#signup_text2 {
    position: relative;
    color: #3D7182;
    font-size: 2.5em;
    top: 150px;
    left: 60%;
}

#signup_box1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
}

#signup_box2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0px;
}

#signup_contents2 {
    position: absolute;
    font-size: 1.5em;
    color: gray;
    top: 250px;
    left: 60%;
}

#signup_box3 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 200%;
    top: 0px;
    -webkit-transition: 0.5s;
}

#signup_text3 {
    position: relative;
    color: #3D7182;
    font-size: 2.5em;
    top: 150px;
    left: 60%;
}

#signup_img3 {
    position: relative;
    top: -50px;
    left: 0%;
}

#signup_contents3 {
    position: absolute;
    font-size: 1.5em;
    color: gray;
    top: 250px;
    left: 60%;
}

#signup_box {
    position: absolute;
    width: 100%;
    height: 100%;
    left:  0%;
    -webkit-transition: 0.5s;
}

#signup_box4 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 300%;
    top: 0px;
    -webkit-transition: 0.5s;
}

#signup_box1_contents {
    position: relative;
    width: 100%;
    height: 800px;
    top: 50%;
    margin-top: -400px;
}

#signup_box2_contents {
    position: relative;
    width: 100%;
    height: 700px;
    top: 50%;
    margin-top: -350px;
}
